html
{
	background: white;
	width: 1100px;
	margin-left: 150px;
	margin-right: 200px;
	padding: 10px; 
	background: white;
	font-style: italic;
}
body
{

}
nav
{
		text-align: center;
		font-style: small;
}
header 
{
	text-align: center; 
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	position: relative;	

}

div.block
{
	margin-top: 20px;
	text-align: right;
	float: left; width: 15%;
	margin-right: 15px;


}
div
{
	float:left;
}
div.mypic
{
	width: 50%;
	margin-top: 20px;
	border-left:0.5px solid gray;
	padding: 10px;
}
div.ssil
{
	margin-left: 10px; 
	margin-top: 20px;
	width: 25%;
	height:30px;
	margin-bottom: 15px;
}
.val {
  width: 300%;
  height: 16px;
  background: gray;
}
.val-box {
  height: 16px;
  background: blue;
}
.round {
    border-radius: 100px;
    border: 2px solid white;
    box-shadow: 0 0	 8px ;
   }
a
{
	text-decoration: none;
	padding: 10px;
}
div.block h3
{
	color:blue;	
} 																																		

div.contacts
{
	margin-left: 35px;	
	margin-top: 20px;
	width: 3%;			
}
div.contacts2
{
	margin-left: 4px;
	font-size: 120%;
}

.divider-line
{
	position: absolute;
	top: 39px;
	width: 100%;
	border-top:1px solid black;
	z-index: 1;
}	

.centered-header
{
	width: 200px;
    margin: 22px auto;
    background-color: white;
    z-index: 4;
    position: relative;
}
div.Part2
{

	width: 100%;

}
div.block2
{
	text-align: right;
	width: 15%;
	margin-right: 15px;
}
div.Expertise
{
	margin-top: 20px;
	padding: 10px;
	width: 50%;
	border-left: 1px solid gray; 
}
div.skills
{

	margin-top: 20px;
	width: 50%;
}
div.block2 h3
{
	color:blue;
	padding: 3px;	
}
progress
{
	width: 250%;
	background:
} 